<h1 id="maine-heading">What Today’s Android Handsets Tell Us About Apple's iPhone 7</h1> <br />
<h3>Want to know what the next iPhone 7 or iPhone 8 will be like? Simple: just look at today’s flagship Androids</h3>
 <p>Apple’s iPhones are exceptionally popular. Apple sells insane amounts of them every quarter and has done since...well...since it first started selling them way back in 2007. Apple’s model is simple and the iPhone is its cash cow, so the company is very careful when it comes to changing things, which is why we get incremental updates between each new redesign.</p>

<p>Say what you want about Apple, its phones, and Jony Ive, but the formula -- a very simple formula -- works. Apple has grown its phone business gradually over the past four years and the net result today, largely thanks to it successfully tapping China, is a HUGE amount of sales and an even bigger pile of revenues and profits.</p>

<p>Apple was first out the gates with a true, touchscreen smartphone, one that captured the public’s imagination. It was the first, yes. But Google and its legion of hardware partners quickly rose to the occasion, pumping out a myriad of handsets. And it was Google and its hardware partners that really pushed the innovation curve regarding phones.</p>

<p>Just look at how fast things changed between 2010 and 2015, compare the HTC Hero to the Samsung Galaxy S6 EDGE. The evolution has been phenomenal. And one thing has always been abundantly clear since, well, around 2011 -- Android phones have much higher specs and a lot more hardware jammed inside them.</p>

<p>I use an iPhone at present, but from 2010 to 2014 I was pretty much Android through-and-through with occasional dips into BB10 and Windows Phone. And the reason for this was simple: I liked testing out and using the latest specs, hardware, and new types of connectivity like BLE 4.0 and NFC. But I also noticed something else while living in the Android camp for so long…</p>

<p>So, the moral of the story here is simple: if you want to know what Apple’s iPhones will be like in 2016 and 2017, just look at modern Android flagships today. That’s what Apple’s been doing these last few years which is why the iPhone 7 or iPhone 8 will probably be water and dust resistant and have 3-or-4GB of RAM and a QHD display.</p>
